* { 
    box-sizing: border-box;
    font-family: sans-serif;
    margin: 0;
}

.header {
    display: flex;
    justify-content: space-around;
    padding-top: 10px;
    background-color: #1F2937;
}

.header-links {
    display: flex;
    color: #e5e7eb;
    font-size: 18px;
}

.header-logo {
    font-size: 24px;
    color: #f9faf8;
}

.header-link-two,
.header-link-three {
    margin-left: 20px;
}

.top-section {
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 6em;
    font-size: 18px;
    color: #E5E7EB;
    background-color: #1F2937;
}

.left-text {
    flex: 1;
    margin-right: 1em;
}

.hero-text {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

.right-image {
    display: flex;
    flex: 1;
    background-color: #6d747d;
    justify-content: center;
    padding: 6em 0;
}

.sign-up {
    color: #F9FAF8;
    font-size: 18px;
    background-color: #3882F6;
    border-radius: 8px;
    padding: 5px 1em;
    margin-top: 10px;
}

.info-section {
    height: 400px;
}

.info-title {
    display: flex;
    justify-content: center;
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    margin: 1em 0
}

.box {
    border: 5px solid #3882F6;
    height: 150px;
    width: 150px;
    border-radius: 8px;
    margin-left: 30px;
}

.boxes {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.subtext {
    width: 150px;
    margin-left: 30px;
    margin-top: 5px;
}

.subtexts {
    display: flex;
    justify-content: center;
}

.quote-section {
    height: 400px;
    display: flex;
    flex-direction: column;
    background-color: #E5E7EB;
    padding: 0 10em;
    justify-content: center;
    margin-top: 100px;
}

.quote {
    font-size: 36px;
    color: #1F2937;
}

.quote-author {
    font-weight: bold;
    font-size: 18px;
    align-self: flex-end;
    margin-top: 20px;
}

.action-section {
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.action-box {
    background-color: #3882F6;
    display: flex;
    padding: 2em 4em 2em 4em;
    border-radius: 8px;
}

.action-text {
    display: flex;
    flex-direction: column;
    font-size: 24px;
    color: #F9FAF8;
}

.bottom-text {
    font-size: 18px;
    color: #E5E7EB;
}

.action-button {
    border: 3px solid #E5E7EB;
    color: #E5E7EB;
    background-color: #3882F6;
    border-radius: 8px;
    margin: 0 2em;
    font-weight: bold;
    padding: 0 1em 0 1em;
}